{% extends 'adr/base.html' %}
{% load static %}
{% block styles %}

{% endblock styles %}

{% block content %}
<section id="about">
    <div class="row">
        <div class="col">
            <div class="container py-5">
                <center>
                    <h1>About Us</h1>
                </center>
                <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                <p>A web application that can be used by doctor's all over the world to get information regarding potential ADRs associated with the drugs they're prescribing.​</p>

                        <p>It takes into account all the factors that makes ADRs erratic such as age, sex or geographic factors, etc.​</p>
            </div>
        </div>
    </div>
</section>

<section id="links">
    <div class="row py-5" style="background-color: #123456;">
        <div class="col col-md-6" style="text-align:center; vertical-align: middle;">
            <div class="container" style="text-align:center; vertical-align: middle;">
                <center><button type="button" class="btn btn-primary">Add new prescription</button></center><br>
                <center><button type="button" class="btn btn-primary">See all records</button></center>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="card" id="question_form_card" style="width: 70%;">
                <div class="card-header">
                    Get details for
                </div>
                <div class="card-body">
                    <form method="GET" id="recordForm">
                        <div class="form-group">
                            <label for="recordId">Record id</label>
                            <input type="number" class="form-control" id="recordId" placeholder="Record id" name="id">
                        </div>
                        
                    </form><br>
                    <button id="findRecordButton" onclick="findRecord()"> Find record</button>
                </div>
            </div>
        </div>
    </div>


</section>
<script>
    var recordForm = document.getElementById("recordForm");
    var inputRecordId = document.getElementById("recordId");
    function findRecord(){   
        var recordid=     inputRecordId.value;
        recordForm.action = "/prescriptionRecords/"+recordid;
       recordForm.submit();
    }
</script>
{% endblock %}