{% extends 'adr/base.html' %}
{% load static %}
{% block styles %}

{% endblock styles %}

{% block content %}
<div class="jumbotron">
<form>
    <div class="form-row form-group">
        <label for="inputState" class="col-md-10">Question 1 </label>
        <select id="inputState" class="form-control col-md-2">
            <option selected>No</option>
            <option>Yes</option>
        </select>
    </div>

    <div class="form-row form-group">
        <label for="inputState" class="col-md-10">Question 1 </label>
        <select id="inputState" class="form-control col-md-2">
            <option selected>No</option>
            <option>Yes</option>
        </select>
    </div>
</form>
</div>
{% endblock %}